html,header, footer, body, nav, div, img, a,ul, li, h1, h2{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}
html{
  font-size: 14px;
}
body{
  margin:0 auto;
  font-family: helvetica;
}
a:link, a:visited{
  color: #2ecc71;
}
a:hover, a:active{
  color: #27ae60;
}

/*styling content*/


/*styling the header part*/
.toggle-menu{
  display: none;
}
header{
  width: 100%;
  background-color: #354b60;
}
.site-title img{
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 75px;
  vertical-align: middle;

}

.nav-list{
  display: flex;
  flex-flow: row;
  align-items: center;
  white-space: nowrap;
}
.nav-list > li {
  position: relative;
  padding: 0 20px 0 20px;
}
.nav-list>li:not(.has-logo)>a{
  text-transform: uppercase;
  display: block;
}
.right {
}
.nav-list ul{
  position: absolute;
  z-index: 1010;
  line-height: 2rem; 
}

.nav-list ul a{
  font-weight: normal;
  display: block; 
}

.nav-list > li:hover a + ul{
  left: 0;
  top:100%;
}

.mobile-display{
  display: none;
}

@media only screen and (max-width: 58.75rem){
  html{
    font-size: 13px;
  }
  body{
    width: 80%;
  }
  .has-logo{
    display: none;
  }
  .mobile-display{
    display: block;
    margin:2rem auto;
    text-align: center
  }
}
@media only screen and (max-width: 33.68rem){
  .toggle-menu{
    display: block;
    max-width: -webkit-min-content;
    max-width: -moz-min-content;
    max-width: min-content;
    margin: 1rem auto;
    text-align: center;
    padding: 1rem;
    border-radius: .25em;

  }
  .toggle-menu:hover{background-color: #f92266;}

  .nav-list{
    display: block;
    width: 100%;
    position: static;
  }

  .active{
    max-height: 100%;
    overflow: auto;
  }


  .nav-list  ul{
    position: static;
  }
}
